<h1>在庫管理</h1>

<h2>メニュー</h2>
<ul>
    <li><%= link_to "商品マスタ登録", :goods %></li>
</ul>
<ul>
    <li><%= link_to "顧客マスタ登録", :customers %></li>
</ul>
<ul>
    <li><%= link_to "入出荷登録", :customers_goods %></li>
</ul>
<ul>
    <li><%= link_to "商品検索", :search_goods %></li>
</ul>
