<link_to "入出庫登録一覧に戻る", :customers_goods %>
<table>

	<tr>
		<th><%= form.label :style_code, "Style Code"%></th>
		<td>
			<input type="text" name="Style Code"  onchange="myfunc(this.value)">
		</td>
		<td>
	    <script>
        function myfunc(value) {
 
            console.log("Style Code is " + value);
        }
        </script>
        </td>
    </tr>
    <tr>
        <th><%= form.label :style_code, "Style Code test"%></th>
		<td>
        	<input type="text" id="input_message" value="" onchange="func1()">
        </td>
        <td>
  			<div id="output_message"></div>

			<script language="javascript" type="text/javascript">
 			function func1() {
    		var input_message = document.getElementById("input_message").value;
    		document.getElementById("output_message").innerHTML = input_message;
    		
    		
 			}
        	</script>
        </td>
	<tr>
		<th><%= form.label :amount, "個数"%></th>
		<td><%= form.text_field :amount %></td>
	</tr>
	<tr>
		<th><%= form.label :shipped_date, "出荷日"%></th>
		<td><%= form.date_field :shipped_date %></td>
	</tr>
</table>