<% @page_title = "在庫一覧" %>
<h2><%= @page_title %></h2>

<%= link_to "入出庫新規登録", :new_customers_good %>

<% if @customers_good.present? %>
<table>
	<thead>
		<tr>
			<th>在庫数</th>
			<th>出荷日</th>
		</tr>
	</thead>
	<tbody>
		<% @customers_good.each do |customer_good| %>
			<tr>
				<td><%= customer_good.amount %></td>
				<td><%= customer_good.shipped_date %></td>
				<td>
                    <%= link_to "編集", [:edit, customer_good] %>
                    <%= link_to "削除", customer_good, method: :delete, data: {confirm: "本当に削除しますか？"} %>    
                </td>
			</tr>
		<% end %>
	</tbody>
</table>
 
<% else %>
	<p>登録されている顧客マスタがありません。</p>
<% end %>