<h2>の詳細</h2>

<%= link_to "編集", [:edit, @customers_good] %>
<%= link_to "在庫マスタ一覧へ戻る", :customers_goods %>

<table>

	<tr>
        <th>個数</th>
	    <td><%= @customers_good.amount %></td>
    </tr>
	<tr>
        <th>出荷日</th>
		<td><%= @customers_good.shipped_date %></td>
	</tr>

</table>