<link_to "顧客マスタ一覧に戻る", :customers %>
<table>
	<tr>
    	<th><%= form.label :account_code, "Account Code"%></th>
		<td><%= form.text_field :account_code %></td>
	</tr>
	<tr>
		<th><%= form.label :account_name, "Account Name"%></th>
		<td><%= form.text_field :account_name %></td>
	</tr>
	<tr>
		<th><%= form.label :shipped_code, "Shipped to Code"%></th>
		<td><%= form.text_field :shipped_code %></td>
	</tr>
	<tr>
		<th><%= form.label :shipped_name, "Shipped to Name" %></th>
		<td><%= form.text_field :shipped_name %></td>
	</tr>
	<tr>
		<th><%= form.label "営業担当"%></th>
		<td><%= form.text_field :user_id %></td>
	</tr>
</table>