<% @page_title = "顧客マスタ一覧" %>
<h2><%= @page_title %></h2>

<%= link_to "顧客マスタの新規登録", :new_customer %>

<% if @customer.present? %>
<table>
	<thead>
		<tr>
			<th>Account Code</th>
			<th>Account Nome</th>
			<th>Shipped to Code</th>
			<th>Shipped to Name</th>
			<th>営業担当</th>
		</tr>
	</thead>
	<tbody>
		<% @customer.each do |customer| %>
			<tr>
				<td><%= customer.account_code %></td>
				<td><%= customer.account_name %></td>
				<td><%= customer.shipped_code %></td>
				<td><%= customer.shipped_name %></td>
				<td><%= customer.user_id %></td>
				<td>
                    <%= link_to "編集", [:edit, customer] %>
                    <%= link_to "削除", customer, method: :delete, data: {confirm: "本当に削除しますか？"} %>    
                </td>
			</tr>
		<% end %>
	</tbody>
</table>
 
<% else %>
	<p>登録されている顧客マスタがありません。</p>
<% end %>