<h2>顧客マスタ登録</h2>

<%= form_tag import_customers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>


<%= form_for @customer do |form| %>
    <%= render "form", form: form %>
    <div><%= form.submit %></div>
<% end %>