<h2>顧客マスタの詳細</h2>

<%= link_to "編集", [:edit, @customer] %>
<%= link_to "顧客マスタ一覧へ戻る", :customers %>

<table>

	<tr>
        <th>Account Code</th>
	    <td><%= @customer.account_code %></td>
    </tr>
	<tr>
        <th>Account Name</th>
		<td><%= @customer.account_name %></td>
	</tr>
    <tr>
    	<th>Shipped to Code</th>
		<td><%= @customer.shipped_code %></td>
    </tr>
    <tr>
		<th>Shipped to Name</th>
		<td><%= @customer.shipped_name %></td>
    </tr>
    <tr>
        <th>営業担当</th>
		<td><%= @customer.user_id %></td>
    </tr>
</table>