<%= link_to "商品一覧に戻る", :goods %>

<table>
    <tr>
        <th><%= form.label :style_code, "Style Code" %></th>
        <td><%= form.text_field :style_code %></td>
    </tr>
    <tr>
        <th><%= form.label :style_name, "Style Name" %></th>
        <td><%= form.text_field :style_name %></td>
    </tr>
    <tr>
        <th><%= form.label :color_code, "Color Code" %></th>
        <td><%= form.text_field :color_code %></td>
    </tr>
    <tr>
        <th><%= form.label :color_name, "Color Name" %></th>
        <td><%= form.text_field :color_name %></td>
    </tr>
    <tr>
        <th><%= form.label :size, "Size" %></th>
        <td><%= form.text_field :size %></td>
    </tr>
    <tr>
        <th><%= form.label :gender, "Gender" %></th>
        <td><%= form.text_field :gender %></td>
    </tr>
</table>