<h2>商品登録</h2>

<%= form_tag import_goods_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "インポート" %>
<% end %>

<%= form_for @good do |form| %>
    <%= render "form", form: form %>
    <div><%= form.submit %></div>
<% end %>