<% @page_title = "商品検索" %>
<h2><%= @page_title %></h2>

<%= link_to "商品一覧", :goods %>
<%= link_to "商品登録", :new_good %>

<% provide(:style_code, 'All goods') %>
<h1>All goods</h1>

<!--  検索拡張機能  -->

<p>キーワード検索</p>
<%= form_tag('/goods/search', :method => 'get' ) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>


<% if @good.present? %>

<table>
    <thead>
        <tr>
            <th>Style Code</th>
            <th>Style Name</th></th>
            <th>Color Code</th>
            <th>Color Name</th>
            <th>Size</th>
            <th>Gender</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <% @good.each do |good| %>
            <tr>
                <td><%= good.style_code %></td>
                <td><%= good.style_name %></td>
                <td><%= good.color_code %></td>
                <td><%= good.color_name %></td>
                <td><%= good.size %></td>
                <td><%= good.gender %></td>
                <td>
                    <%= link_to "編集", [:edit, good] %>
                    <%= link_to "削除", good, method: :delete, data: {confirm: "本当に削除しますか？"} %>    
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<% else %>
<p>登録されている商品がありません。</p>
<% end %>

<%= will_paginate @good %>