<h2>商品の詳細</h2>
<%= link_to "編集", [:edit, @good] %>
<%= link_to "商品一覧へ戻る", :goods %>

<table>
    <tr>
        <th>Style Code</th>
        <td><%= @good.style_code %></td>
    </tr>
    <tr>
        <th>Style Name</th></th>
        <td><%= @good.style_name %></td>
    </tr>
    <tr>
        <th>Color Code</th>
        <td><%= @good.color_code %></td>
    </tr>
    <tr>
        <th>Color Name</th>
        <td><%= @good.color_name %></td>
    </tr>
    <tr>
        <th>Size</th>
        <td><%= @good.size %></td>
    </tr>
    <tr>
        <th>Gender</th>
        <td><%= @good.gender %></td>
    </tr>
</table>