<!DOCTYPE html>
<html>
  <head>
    <title>StockApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <% if user_signed_in? %>
      <div><%= link_to 'LOGOUT', destroy_user_session_path, method: :delete %></div>
      <div><h2>Hello <%= current_user.name %></h2></div>
       <div><%= link_to "メニューへ" , root_path %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
